body {
  background-color: #0000;
  margin: 0;
}

#canvas {
  position: relative;
  top: 10px;
  left: 700px;
  z-index: 1;
  margin:0px;
}

#video {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
}

p {
  font-size: 48px;
  text-shadow: -1px -1px 0 rgb(255,255,255), 1px -1px 0 rgb(255,255,255), -1px 1px 0 rgb(255,255,255),
    1px 1px 0 rgb(255,255,255);
}
